<div class="home-cont">
  <div class="home-intro">
    <span class="heading">Hi,</span>
    <span class="description">
    I am a software engineer based in Nairobi,
    Kenya. I'm passionate about web technology,
    and I develop web-based and mobile applications.
  </span>
  </div>
  <div class="divider"></div>
  <div class="skills">
    <span class="heading">
      What can I do?
    </span>
    <span class="description">
      I can design and develop web and mobile applications
      that can run across various devices using the latest technologies.
    </span>
  </div>

  <div class="divider"></div>
  <div class="contact">
    <span class="heading">
      Do you need help with your project?
    </span>
    <span class="description">
      I am currently available for both long-term and short-term projects.
      So if you need my services or have any queries, message me.
    </span>
    <span class="button-cont">
      <button class="message-me">Message me</button>
    </span>
  </div>
</div>
