
.home-cont {
  font-family: 'Saira Extra Condensed', sans-serif;
  position: relative;

  .home-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    margin: 30px auto 30px auto;;
    font-size: 16px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;

    .heading {
      margin-bottom: 5px;
      font-weight: 100;
      font-size: 25px;
      color: rgb(11, 167, 224);
    }
    .description {
      margin-top: 10px;
    }
  }
  .divider {
    content: '';
    height: 1px;
    margin: 0 auto;
    width: 87%;
    background: #4B4345;
    opacity: .1;

  }

  .skills {
    margin: 0 0 40px 0;
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
    left: 100px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 16px;

    .heading {
      margin: 30px 0 15px 0;
      font-size: 25px;
      font-weight: 100;
      color: rgb(11, 167, 224);
    }
    .description {
    }

  }
  .contact {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 5em auto;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 16px;
    width: 600px;

    .heading {
      margin: 30px 0 15px 0;
      font-size: 25px;
      font-weight: 100;
      color: rgb(11, 167, 224);
    }
    .description{
      margin-bottom: 30px
    }
  }
  .message-me {
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #272727;
    transition: all 0.5s;

    &:hover{
      background: #272727;
      color: white;
    }

  }
}

@media (max-width: 600px) {
  .home-cont {
    .home-intro {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .skills {
      width: 100%;
      display: flex;
      flex-direction: column;
      left: 0;
      text-align: center;
    }
    .contact {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
